@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Lobster', cursive;
}

.content {
	width: 100%;
	display: block;
}

img {
	z-index: -1;
}

#liveDiv {
	float: right;
	height: 100%;
	margin: 1%;
	width: 48%;
	position: sticky;
	top: 5em;
}

thead {
	position: sticky;
	top: 5em;
}

a {
	display: block;
	text-align: center;
	z-index: 2;
}

input {
	width: 100%;
	background: transparent;
	font-size: 20px;
}

input[type=button], input[type=submit], input[type=reset] {
	max-width: 50%;
}

#scoreboardDiv {
	display: block;
	width: 100%;
}

#scoreTable {
	overflow-y: auto;
	float: left;
	width: 48%;
	margin: 1%;
	margin-bottom: 25%;
}

.feed {
	overflow-y: auto;
}

html {
	min-height: 100%
}

body {
  margin-top: 3em;
  background-color: lightskyblue; 
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 45px;
  color: #6D59A7;;
  text-shadow: 3px 0px 0px white;
  margin-bottom: 50px;
  text-align: center;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 45px;
  color: #6D59A7;;
  text-shadow: 2px 0px 0px white;
  text-align: center;
}


th {
  font-family: 'Lobster', cursive;
  font-size: 45px;
  color: #6D59A7;
  text-shadow: 2px 0px 0px white;
  padding: 15px;
  padding-top: 0px;
}

td {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: #6D59A7;
  text-shadow: 2px 0px 0px white;
}

.score {
	text-align: center;
}
.eggs {
  margin: 1em auto;
  text-align: center;
  display: inline-flex;
  max-width: 100%;
  width: 100%;
}
.egg {
  width: 140px;
  height: 200px;
  margin: 1em auto;
  background: #FBE9E7;
  border-radius: 50%/60% 60% 40% 40%;
  overflow: hidden;
  display: inline-block;
  position: sticky;
  top: 5em;
}

.stripe {
  height: 20%;
}

@keyframes egg-left-animation {
  0% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes egg-right-animation {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(25deg);
  }
}

.feedElement {
	display: block;
	text-align: center;
}

#fringe { 
  width: 100%;
  height: auto;
  position: fixed;
  left:0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

.egg-left {
  transform: rotate(-10deg);
  animation: egg-left-animation 0.8s linear 0s infinite alternate;
  min-width: fit-content;
}
.egg-right {
  transform: rotate(25deg);
  animation: egg-right-animation 0.7s linear 0s infinite alternate;
  background-color: #EC407A;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23FFFFFF' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
  min-width: fit-content;
}

.bunny {
	margin: auto;
	display: block;
	width: 15%;
	min-width: unset;
}
