.contained {
  width: 100%;
  max-width: 100%;
  border-style: none;
  outline: none;
  padding-left: 40%;
  height: 100%;
  vertical-align: middle;
}

.container {
  position: relative;
  width: 50%;
  border-radius: 10px;
  overflow: hidden;
  height: 30px;
  border:1px;
  border-color: black;
  border-style: solid;
  text-align: center;
  margin:auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:100%;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  width: 40%;
}

.container:focus-within .overlay {
  bottom: 0;
  width: 40%;
}

.container.forced .overlay {
  bottom: 0;
  width: 40%;
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
}
input:focus {
  outline:none;
}