<html>
    <head>
	{% block head %}
        <title>Easter Egg Hunt</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/easter.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/egg.css') }}"/>
		<link rel="preload" href="https://cdn.clipart.email/cb3b4b3779fb910952adc0a17aa8585e_easter-grass-transparent-png-clip-art-image-gallery-_8000-1759.png" as="image"/>
		<script src="{{ url_for('static', filename='js/eggify.js') }}"></script>
	{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
		
		<img src="https://cdn.clipart.email/cb3b4b3779fb910952adc0a17aa8585e_easter-grass-transparent-png-clip-art-image-gallery-_8000-1759.png" alt="Easter" id="fringe"/>
    </body>
</html>