<html>
    <head>
	{% block head %}
        <title>Easter Egg Hunt</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/easterEgg.css') }}">
		<link rel="preload" href="https://cdn.clipart.email/cb3b4b3779fb910952adc0a17aa8585e_easter-grass-transparent-png-clip-art-image-gallery-_8000-1759.png" as="image"/>
		<script src="{{ url_for('static', filename='js/eggify.js') }}"></script>
	{% endblock %}
    </head>
    <body>
        <!--{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}-->
        {% block content %}{% endblock %}
		
		<img src="https://cdn.clipart.email/cb3b4b3779fb910952adc0a17aa8585e_easter-grass-transparent-png-clip-art-image-gallery-_8000-1759.png" alt="Easter" id="fringe"/>
    </body>
</html>