{% extends "base.html" %}

{% block content %}
<section class="content">
  <h1>
    Scoreboard
  </h1>
  <table>
  <tr>
	<th>Username</th>
	<th>Score</th>
  </tr>
  {% for user in all_users %}
    <tr>
	  <td>{{user.username}}</td>
	  <td>{{user.eggs|length}}</td>
	</tr>
  {% endfor %}
  </table>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
$(document).ready(function(){
    //connect to the socket server.
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    //receive message details from server
    socket.on('newmessage', function(msg) {
        console.log("Received message" + msg.message);
        message = '<p>' + msg.message + '</p>';

        $('#message').append(message);
    });

});
    </script>
</section>
{% endblock %}