{% extends "wobblyeggs.html" %}

{% block innercontent %}
<section class="content">
  <table id="scoreTable">
  <thead>
  <tr>
	<th>Username</th>
	<th>Score</th>
  </tr>
  </thead>
  <tbody>
  {% for user in all_users %}
    <tr>
	  <td>{{user.username}}</td>
	  <td class="score">{{user.eggs|length}}</td>
	</tr>
  {% endfor %}
  </tbody>
  </table>
<div id="liveDiv">
  <h2>Live Results</h2>
  <div id="feed"/>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/scoreboard.js') }}"></script>
</section>
{% endblock %}